.body-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

// ------------BOARD------------------------------------------------------------>
.board-with-notes {
	width: 70%;
}

.board-with-notes__wrapper {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;

}

.note-wrapper {
	border: 2px solid #b3b3b3;
	border-radius: 15px;
	padding: 15px;
	transition: all .1s linear;
}

.note-wrapper:hover {
	box-shadow: 0px 0px 5px #683be4;
	border: 2px solid #683be4;
	transition: all .1s linear;
}

.note-body {
	position: relative;
	cursor: default;
}

.note__btn {
	background-color: #b3b3b3;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: -15px;
	transition: all .1s linear;
}

.note__close-btn {
	right: 0;
}

.note__do-change-btn {
	right: 23px;
	background-color: #bb80ff;
}

.note-title {
	font-weight: bold;
	margin-top: 10px;
	padding-left: 25px;
	border-bottom: 1px solid #683be4;
	border-radius: 25px;
}

.note-text {
	margin-top: 25px;
}

.note__close-btn:hover {
	background-color: #dadada;
	transition: all .1s linear;
}

.note__do-change-btn:hover {
	background-color: #e07cff;
	transition: all .1s linear;
}

// ------------ASIDE------------------------------------------------------------>
.note-creator-block {
	height: 300px;
	background-color: black;
	width: 30%;
	height: 100%;
	min-height: 490px;
	border-top-right-radius: 25px;
	border-end-end-radius: 25px;
	box-shadow: 2px 0px 0px 2px #683be4;
	transition: all .2s linear;
}

.note-creator-block:hover {
	box-shadow: 2px 0px 5px 5px #683be4;
	transition: all .2s linear;
}

.note-creator__wrapper {
	margin: 2em;
}

.note-creator__title {
	font-size: 2em;
	margin-bottom: 1.5em;
	padding-bottom: 5px;
	border-bottom: 3px solid #683be4;
	text-align: center;
	border-radius: 25px;
}

// ------------FORM------------------------------------------------------------>
textarea {
	resize: none;
}

.contact__form {
	padding: 54px 0px;

	:not(:last-child) {
		margin-bottom: 25px;
	}
}

.form__group {
	position: relative;
	margin-bottom: 2em;
}

.form__label {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	letter-spacing: .1em;
}

.form__input {
	background-color: black;
	color: inherit;
	border: 1px solid white;
	padding: 10px 15px;
	min-width: 100%;
	transition: all 0.5s ease;
	letter-spacing: .1em;
	font-weight: 400;
}

.form__input:focus,
.form__input:active,
.form__input:hover {
	border: 1px solid #683be4;
}

.form__input:focus+.form__label,
.form__textarea:focus+.form__label {
	opacity: 1;
	transition: all 0.5s ease;
	top: -20px;
}

.form__button {
	position: relative;
	color: rgb(97, 97, 97);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: black;
	box-shadow: 0px 0px 0px 1px white;
	padding: 20px 60px;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 2;
	width: 60%;
	min-width: 150px;
	letter-spacing: .1em;
	transition: all .5s ease;
}

.form__button:hover,
.form__button:focus {
	color: inherit;
	box-shadow: 0px 0px 0px 1px #683be4;
	transition: all .5s ease;
}


// ------------HIDE_PLACEHOLDER------------------------------------------------------------>
.form__input:focus::-webkit-input-placeholder {
	color: transparent
}

.form__input:focus::-moz-placeholder {
	color: transparent
}

.form__input:focus:-moz-placeholder {
	color: transparent
}

.form__input:focus:-ms-input-placeholder {
	color: transparent
}

.form__textarea:focus::-webkit-input-placeholder {
	color: transparent
}

.form__textarea:focus::-moz-placeholder {
	color: transparent
}

.form__textarea:focus:-moz-placeholder {
	color: transparent
}

.form__textarea:focus:-ms-input-placeholder {
	color: transparent
}

.form__textarea {
	height: 150px;
}